<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-------- FONT---------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
     <!-------- ICONS---------->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
     <!--------STYLES---------->
    <link href="/css/partials.css" rel="stylesheet">
</head>
<header>
    <nav class="nav-bar"> 
        <ul class="enlaces-nav">
            <li><a href="#">NOSOTROS</a></li>
            <li>
                <a href="/products">PRODUCTOS</a>
                <ul class="menu-vertical">
                    <li><a href="/products/burgers">HAMBURGUESAS</a></li>
                    <li><a href="#">SANDWICHES</a></li>
                </ul>
            </li>
            <li><a href="#">CARRITO</a></li>
        </ul>
        <div class="logo">
            <a href="/"><img src="/img/logo.png" alt="logo"></a>
        </div>
        <ul class="enlaces-nav">
            <li><a href="#">REGISTRARSE</i></a></li>
            <li><a href="#"><i class="fas fa-user"></i>INGRESAR</a></li>
        </ul>
    </nav>
</header>
</html>